package layouts

import "mymodules/gofolio/i18n"

templ SubpageTemplate(pCtx i18n.PageContext, sectionLabelKey string, introTextKey string, metaTitleKey string, metaDescKey string) {
	@BaseHtml(pCtx, pCtx.T(metaTitleKey), pCtx.T(metaDescKey)) {
		<div class="page-grid-container">
			<section class="grid--intro">
				<h2>{ pCtx.T(sectionLabelKey) }</h2>
				<p>{ pCtx.T(introTextKey) }</p>
			</section>
			{ children... }
		</div>
	}
}
