package pages

import "mymodules/gofolio/i18n"
import "mymodules/gofolio/views/layouts"

templ artsIntro(pCtx i18n.PageContext) {
	<p>{ pCtx.T("arts.intro.p1") }</p>
}

templ Arts(images []string, pCtx i18n.PageContext) {
	@layouts.SubpageTemplate(pCtx, "arts.title", artsIntro(pCtx), "arts.pageTitle", "arts.pageMetaDescription") {
		if len(images) > 3 {
			<section class="arts-grid">
				<img src={ "/static/" + images[1] } alt={ pCtx.T("arts.gallery.imageAlt") }/>
				<img src={ "/static/" + images[2] } alt={ pCtx.T("arts.gallery.imageAlt") }/>
				<img src={ "/static/" + images[3] } alt={ pCtx.T("arts.gallery.imageAlt") }/>
			</section>
		}
		if len(images) > 6 {
			<section class="arts-grid">
				<img src={ "/static/" + images[4] } alt={ pCtx.T("arts.gallery.imageAlt") }/>
				<img src={ "/static/" + images[5] } alt={ pCtx.T("arts.gallery.imageAlt") }/>
				<img src={ "/static/" + images[6] } alt={ pCtx.T("arts.gallery.imageAlt") }/>
			</section>
		}
		if len(images) > 7 {
			<section class="arts-anchor arts-anchor--slim">
				<img src={ "/static/" + images[7] } alt={ pCtx.T("arts.gallery.imageAlt") }/>
			</section>
		}
		if len(images) > 10 {
			<section class="arts-grid">
				<img src={ "/static/" + images[8] } alt={ pCtx.T("arts.gallery.imageAlt") }/>
				<img src={ "/static/" + images[9] } alt={ pCtx.T("arts.gallery.imageAlt") }/>
				<img src={ "/static/" + images[10] } alt={ pCtx.T("arts.gallery.imageAlt") }/>
			</section>
		}
		if len(images) > 13 {
			<section class="arts-grid">
				<img src={ "/static/" + images[11] } alt={ pCtx.T("arts.gallery.imageAlt") }/>
				<img src={ "/static/" + images[12] } alt={ pCtx.T("arts.gallery.imageAlt") }/>
				<img src={ "/static/" + images[13] } alt={ pCtx.T("arts.gallery.imageAlt") }/>
			</section>
		}
		if len(images) > 16 {
			<section class="arts-grid">
				<img src={ "/static/" + images[14] } alt={ pCtx.T("arts.gallery.imageAlt") }/>
				<img src={ "/static/" + images[15] } alt={ pCtx.T("arts.gallery.imageAlt") }/>
				<img src={ "/static/" + images[16] } alt={ pCtx.T("arts.gallery.imageAlt") }/>
			</section>
		}
		if len(images) > 18 {
			<section class="arts-grid--halves">
				<img src={ "/static/" + images[17] } alt={ pCtx.T("arts.gallery.imageAlt") }/>
				<img src={ "/static/" + images[18] } alt={ pCtx.T("arts.gallery.imageAlt") }/>
			</section>
		}
		<section class="arts-anchor arts-anchor--contained">
			<video autoplay loop muted playsinline>
				<source src="/static/images/arts/IMG_3991.MOV" type="video/quicktime"/>
			</video>
		</section>
		<section class="arts-sound">
			<img src="/static/images/website/shawn-playing-bass.jpg" alt="Playing bass guitar"/>
			<div class="arts-sound-text">
				<h2>{ pCtx.T("arts.sound.title") }</h2>
				<p><em>{ pCtx.T("arts.sound.text") }</em></p>
			</div>
		</section>
	}
}
