package pages

import "mymodules/gofolio/i18n"
import "mymodules/gofolio/views/layouts"

templ artsImageSection(imgs []string, sectionClass string, pCtx i18n.PageContext) {
	if len(imgs) > 0 {
		<section class={ sectionClass }>
			for _, img := range imgs {
				<img src={ "/static/" + img } alt={ pCtx.T("arts.gallery.imageAlt") }/>
			}
		</section>
	}
}

templ Arts(images []string, pCtx i18n.PageContext) {
	@layouts.SubpageTemplate(pCtx, "arts.title", "arts.intro.p1", "arts.pageTitle", "arts.pageMetaDescription") {
		@artsImageSection(images[1:4], "arts-grid", pCtx)
		@artsImageSection(images[4:7], "arts-grid", pCtx)
		@artsImageSection(images[7:8], "arts-anchor arts-anchor--slim", pCtx)
		@artsImageSection(images[8:11], "arts-grid", pCtx)
		@artsImageSection(images[11:14], "arts-grid", pCtx)
		@artsImageSection(images[14:17], "arts-grid", pCtx)
		@artsImageSection(images[17:19], "arts-grid--halves", pCtx)
		<section class="arts-anchor arts-anchor--contained">
			<video autoplay loop muted playsinline>
				<source src="/static/images/arts/IMG_3991.webm" type="video/webm"/>
				<source src="/static/images/arts/IMG_3991.mp4" type="video/mp4"/>
			</video>
		</section>
}
}
